.enlaces {
    font-family: 'time new roman', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--plum);

}

.container-enlnosotros ol {
    font-family: 'time new roman', sans-serif;
    background-color: var(--plum);
    font-size: 50px;
    text-align: center;
    padding: 0%;
    margin-top: 25px;
    justify-content: space-between;

}

a {
    text-decoration: none;
    color: black;
    color: var(coral-pink);
}

.imgPrincipal {
    background-image: url("Public\background-nosotros.jpg");
    display: block;
    /*para que se centre la imagen*/
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

.portada {
    font-family: 'Times New Roman', Times, serif;
    /*tipo de letra de la portada*/
    text-align: center;
    /*centrar el texto de la portada*/

}

.subtitulo {
    font-family: 'Times New Roman', Times, serif;
    /*tipo de letra del subtitulo*/
    text-align: center;
    /*centrar el texto del subtitulo*/
    position: relative;
    /*posición del subtitulo*/
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    /*centrar el texto de la portada*/
}

.Contactate {
    font-family: 'Times New Roman', Times, serif;
    /*tipo de letra de la portada*/
    text-align: center;
    /*centrar el texto de la portada*/
}

.parrafo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    /*tamaño de la letra del párrafo*/
    border: 15px solid black;
    /*borde de la caja*/
    border-style: groove;
    /*estilo del borde de la caja*/
    border: fixed;
    /*para que el borde no se mueva*/
    padding: 40px;
    /*espaciado del párrafo*/
    color: black;
    /*color del párrafo*/
    align-items: center;
    /*centrar el párrafo*/
    display: flex;
    /*para que el párrafo se ponga en línea*/
    float: none;
    /*para que el párrafo no se mueva*/
    max-width: 900px;
    width: 100%;
    margin: auto;
    /*centrar la caja  */
    justify-content: center;
    /*centrar el párrafo*/
    flex-flow: row wrap;
    /*para que el párrafo se ponga en línea*/
    align-items: center;
    /*centrar el párrafo*/
    gap: 10px;
    /*espaciado entre los párrafos*/
    position: relative;
    /*posición del párrafo*/
    top: 100px;
    /*posición del párrafo*/
}

.Imgnosotros {
    min-height: 100vh;
    background: url(Public\background-nosotros.jpg) no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}



.Enlgaleria {
    position: relative;
    /*posición del enlace*/
    font-family: 'time new roman', sans-serif;
    /*tipo de letra de los enlaces*/
    font-size: 20px;
    /*tamaño de la letra de los enlaces*/
    padding: 5rem;
    /*espaciado entre los enlaces*/
    background-color: var(--plum);
    /*color de fondo de la barra de navegación*/
    left: 500px;
    top: 5px;
}

.botoncontacto {
    font-family: 'time new roman', sans-serif;
    font-size: 15px;
    background-color: var(--plum);
    margin-top: 30px;
    text-align: center;

}


.galeriaI {
    width: 100%;
    /*tamaño de la imagen*/
}

.imgColumna {
    margin: 10px;
    /*espaciado de la caja*/

}

.arteGaleria .contenedor {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 10px;

}

@media(min-width:520px) {
    .arteGaleria .contenedor {
        grid-template-columns: repeat(2, 50%);
    }
}

@media(min-width:728px) {
    .arteGaleria .contenedor {
        grid-template-columns: repeat(3, 33.3%);
    }
}

@media(min-width:1024px) {
    .arteGaleria .contenedor {
        grid-template-columns: repeat(4, 25%);
    }

    .contenedor {
        width: 1024px;
    }
}

@media(min-width:1200px) {
    .contenedor {
        width: 1200px;
    }
}

img {
    filter: hue-rotate(200deg);
    /*filtro de la imagen*/
    transition: all 400ms ease-in-out;
    /*transición de la imagen*/
}

img:hover {
    filter: hue-rotate(100deg);
    /*filtro de la imagen*/
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    /*display: grid;*/
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 15px;
}


.container-form p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 90px;
}

.container-form a {
    font-size: 20px;
    /*display: inline-block;*/
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.container-form a i {
    color: orange;
    margin-right: 10px;
    /*espaciado entre los elementos*/
}

.container-form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form form textarea {
    max-width: 1130px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: nomne;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
    background: #ff6600;
}


i {
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb, black (0, 0, 0, .35);
    transition: .3s ease;
}

.contenedorflex {
    display: flex;
}

.footer-bottom_social{
    text-align: center;
}

.button .imagen1{
    left: 500px;
}


